<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="global.css">
    <title>Livroteca - Livros</title>
</head>
<body>
    <h1>Epic Task</h1>
    <h2>Livros disponíveis</h2>


    <section class="grid">
        <div class="card" style="width: 10rem;" th:each="livro: ${livros}">
            <img class="card-img-top img-thumbnail"  src="/HARRY_POTTER_E_A_PEDRA_FILOSOFAL_1389761588B.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text" th:text="${livro}"></p>
            </div>
        </div>
    </section>
    

</body>
</html>